.container {
    position: fixed;
    bottom: 25px;
    right: 10px;
    background-color: aqua;
    width: 320px;
}

.first-bar {
    height: 40px;
    width: 320px;
    background-color: blue;

}
.send-input {
    width: 100%;
    height: 45px;
}

.input-bar {
    border-radius: 5px;
    min-height: 45px;
    background-color: #eee;
    
}

.message {
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #9CCC65;
    display:block;
    width: 300px !important;
    word-wrap:break-word;
}

.chat-area {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    height: 210px;
    width: 320px !important;
    border: 0.2px grey solid;
}

body {
    position: relative;
}