
:root {
    --bars-color-sur--chat: purple;
    --chat-area-bg-color-sur--chat: blue;
    --chat-area-message-bg-color-sur--chat: green;
    --chat-area-font-color-sur--chat: grey;
    --font-size-message-sur-chat: 14px;
}


.container-sur-chat {
    transition: 1s;
    position: fixed;
    bottom: -40px;
    z-index: 10000;
    right: 5px;
    background-color: aqua;
    width: 320px;
    height: 100px;
}

.animate-up-sur-chat {
    bottom: 242px
}

.chat-area-sur-chat input, .chat-area-sur-chat textarea {
    margin-left: 25px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    height: 25px;
    padding-left: 12px; 
    width: 270px;
}

.left-message-text-sur-chat {
    font-size: 14px;
    color: gray;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}


.input-sur-chat {
    color: gray;
    font-weight: 400;
}


.textarea-sur-chat {
    color: gray;
    height: 55px;
    font-weight: 400;
}


.input-area__message-sur-chat {
    min-height: 50px;
}

.first-bar-sur-chat {
    height: 40px;
    width: 320px;
    background-color: var(--bars-color-sur--chat);
    position: relative;
}
.send-input-sur-chat {
    width: 320px !important;
}

.input-bar-sur-chat {
    border-radius: 5px;
    min-height: 45px;
    background-color: #eee;
    
}

.message-sur-chat {
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: var(--font-size-message-sur-chat);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--chat-area-message-bg-color-sur--chat);
    display: block;
    width: 300px !important;
    word-wrap:break-word;
    color: var(--chat-area-font-color)
}

.up-btn-sur-chat {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 7px;
}

.chat-area-sur-chat {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--chat-area-bg-color-sur--chat);
    height: 250px;
    width: 320px !important;
    border: 0.2px grey solid;
}

body {
    position: relative;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.send-login-information-sur-chat {
    width:  100px;
    height: 30px;
    background-color: green;
}